/* Bootstrap styles */
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css');

/* Custom chat styles */
#chat-message-input {
  margin-right: -5px; /* Adjusting margin for alignment */
}

.chat-messages {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 138px); /* Adjusted height calculation */
  overflow-y: scroll;
  scroll-behavior: smooth;
  transition: all 0.5s;
}

.chat-message-left,
.chat-message-right {
  display: flex;
  flex-shrink: 0;
}

.chat-message-left {
  margin-right: auto; /* Pushes left-aligned messages to the left */
}

.chat-message-right {
  flex-direction: row-reverse; /* Reverses direction for right-aligned messages */
  margin-left: auto; /* Pushes right-aligned messages to the right */
}

/* Typing indicator bubble */
.chat-bubble.typing {
  background-color: #fff3cd;
  padding: 16px 28px;
  border-radius: 20px;
  display: inline-block;
}

.typing {
  align-items: center;
  display: flex;
  height: 17px;
}

.typing .dot {
  animation: mercuryTypingAnimation 1s infinite ease-in-out;
  background-color: #fff0c0;
  border-radius: 50%;
  height: 7px;
  margin-right: 4px;
  width: 7px;
}

.typing .dot:nth-child(1) {
  animation-delay: 200ms;
}

.typing .dot:nth-child(2) {
  animation-delay: 300ms;
}

.typing .dot:nth-child(3) {
  animation-delay: 400ms;
}

.typing .dot:last-child {
  margin-right: 0;
}

@keyframes mercuryTypingAnimation {
  0% {
    transform: translateY(0px);
    background-color: #ffc003;
  }
  28% {
    transform: translateY(-7px);
    background-color: #e4bf52;
  }
  44% {
    transform: translateY(0px);
    background-color: #dac587;
  }
}